@font-face{
  font-family: 'Apple II';
  src: url('../fonts/font.ttf');
}

:root {
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
}

body {
  color: #000080;
  font-size: 2.2vh;
  font-family: 'Apple II';
  line-height: 4vh;
  /* screen glow */
  /*background-image: radial-gradient(
    #1f0b00, black 120%
  );*/
  /* text glow */
  text-shadow: #ffffff 1px 0 10px;
  background: repeating-linear-gradient(
    var(--crt-red) 0px,
    var(--crt-green) 2px,
    var(--crt-blue) 4px
  );
  
}

/* scanlines */
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*background: repeating-linear-gradient(rgba(0, 8, 128, 0.2) 0.5vh, rgba(0, 0, 0, 0.05) 0.8vh);*/
  z-index: -1;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

.img {
  white-space: pre;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#output {
  padding: 2vw 2vw 0 2vw;
}

#output div {
  margin-bottom: 1vw;
}

.input {
  caret-color: blue;
  display: flex;
}

a {
  color: orange;
}

.cursor {
  display: inline-block;
  animation: cursor 500ms infinite normal;
}

#input {
  height: 4vh;
  width: 98.5vh;
  color: #000080;
  background: transparent;
  font-size: 2vh;
  font-family: "Apple II";
  border: none;
  position: relative;
  bottom: 0.175vh;
  margin-left: .5vw;
}

#input:after{
	content: "testest";
	animation: cursor 1s infinite;
	animation-timing-function: step-end;
	margin-left: 1px;
	line-height: 1rem;
}

span {
  margin-left: 2vw;
}

#input:focus {
  outline: none;
}


@keyframes blink {
  0% {background: orange;}
  49% {background: orange;}
  60% {background: transparent;}
  99% {background: transparent;}
  100% {background: orange;}
}

@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
